<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Person Name</th>
                                    <th>Company Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientList; track $index) {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.contactPersonName}}</td>
                                    <td>{{item.companyName}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.city}}</td>
                                    <td>
                                        <button class="btn btn-primary">Edit</button>
                                        <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Person Name</label>
                        <input type="text" [(ngModel)]="clientObj.contactPersonName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">companyName</label>
                        <input type="text" [(ngModel)]="clientObj.companyName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">state</label>
                        <input type="text" [(ngModel)]="clientObj.state" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">city</label>
                        <input type="text" [(ngModel)]="clientObj.city" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">pincode</label>
                        <input type="text" [(ngModel)]="clientObj.pincode" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">address</label>
                        <textarea [(ngModel)]="clientObj.address" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">EmployeeStrength</label>
                        <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">gstNo</label>
                        <input type="text" [(ngModel)]="clientObj.gstNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">contactNo</label>
                        <input type="text" [(ngModel)]="clientObj.contactNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">regNo</label>
                        <input type="text" [(ngModel)]="clientObj.regNo" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success" (click)="onSaveClient()">Save Client</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>