<div class="row">
 <div class="col-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Role Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roleList;let srno = index">
                <td>{{srno+1}}</td>
                <td>{{role.role}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>


<!-- <p>roles works!</p>
<div class="row">

<div class="col-3">
    <P> {{firstName}}</P>
</div>
<div class="col-3">
    <P> {{version}}</P>
</div>
<div class="col-3">
    <P> {{selectedState}}</P>
</div>
</div>


<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control"/>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName"/>
    </div>
    <div class="col-3">
        <input [type]="inputType">
    </div>
    <div class="col-3">
        <select [(ngModel)] ="selectedState">
            <option value="Mh">MH</option>
            <option value="TN">TN</option>
        </select>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="showWelcomeAlert()"></button>
        </div>
    </div>
</div> -->